<h2 class="grid-item__title">
    Attendance
</h2>

<div class="atten-box">
    <div class="atten-box__title">
        Adult - General
        <div class="atten-box__email">John Doe <email>&#60;johndoe@gmail.com&#62;</email></div>
    </div>
    <button class="atten-box__view">View</button>
    <button class="atten-box__order-details">Order Details</button>
    
    <span class="atten-box__applied">Applied: 13th May 2014 at 10:27</span>
</div>
<div class="atten-box">
    <div class="atten-box__title">
        Child Ticket - General
        <div class="atten-box__email">John Doe <email>&#60;johndoe@gmail.com&#62;</email></div>
    </div>
    <button class="atten-box__view">View</button>
    <button class="atten-box__order-details">Order Details</button>
    
    <span class="atten-box__applied">Applied: 13th May 2014 at 10:27</span>
</div>
<div class="atten-box">
    <div class="atten-box__title">
        Child Ticket - General
        <div class="atten-box__email">John Doe <email>&#60;johndoe@gmail.com&#62;</email></div>
    </div>
    <button class="atten-box__view">View</button>
    <button class="atten-box__order-details">Order Details</button>
    
    <span class="atten-box__applied">Applied: 13th May 2014 at 10:27</span>
</div>