<h2 class="grid-item__title">
    Best Selling Tickets
</h2>
<div class="bst-box">
    <bst-box-icons class="adult-general"></bst-box-icons>
    <h4 class="bst-box__title">
        Adult - general
        <div class="bst-box__upcoming bst-box__upcoming--aqua-font">50 sold since Jan 17</div>
    </h4>
    <button class="bst-box__edit">Edit</button>
    <button class="bst-box__view">View sales</button>
    
    <span class="bst-box__desription">20% more sold than last period</span>
</div>

<div class="bst-box">
    <bst-box-icons class="child-tickets"></bst-box-icons>
    <h4 class="bst-box__title">
        Child Tickets - General
        <span class="bst-box__info-button" id="info-button">
            <div class="promo-popup">
                <button class="promo-popup__close" id="promo-close">x</button>
                <h5 class="promo-popup__title">Try adding a promo code to drive sales.</h5>
                <button class="promo-popup__add">Add Promo code</button>
            </div>
        </span>
        <div class="bst-box__upcoming bst-box__upcoming--orange-font">12 sold since Jan 17</div>
    </h4>
    <button class="bst-box__edit">Edit</button>
    <button class="bst-box__view">View sales</button>
    
    <span class="bst-box__desription">20% more sold than last period</span>
</div>

<div class="bst-box">
    <bst-box-icons class="child-tickets-hidden"></bst-box-icons>
    <h4 class="bst-box__title">
        Child Tickets - General - Hidden
        <div class="bst-box__upcoming">3 sold since Jan 17</div>
    </h4>
    <button class="bst-box__edit">Edit</button>
    <button class="bst-box__view">View sales</button>
    
    <span class="bst-box__desription">20% more sold than last period</span>
</div>

<div class="bst-box">
    <bst-box-icons class="not-on-sale"></bst-box-icons>
    <h4 class="bst-box__title">
        Child Tickets - General
        <div class="bst-box__upcoming">Not on Sale</div>
    </h4>
    <button class="bst-box__edit">Edit</button>
    <button class="bst-box__view">View sales</button>
    
    <span class="bst-box__desription">Tickets is out of stock</span>
</div>

<div class="bst-box">
    <bst-box-icons class="upcoming-sale"></bst-box-icons>
    <h4 class="bst-box__title">
        Child Tickets - General
        <div class="bst-box__upcoming bst-box__upcoming--aqua-font">Upcomming sales</div>
    </h4>
    <button class="bst-box__edit">Edit</button>
    <button class="bst-box__view">View sales</button>
    
    <span class="bst-box__desription">Tickets on sale from tomorrow</span>
</div>