<img src="images/headerimage.png" alt="" class="content-header-image">
<div class="content-header-table">
    <h4 class="content-header-table__title">
        HYPER Festival LUNCH PARTY
        <span class="content-header-table__dialog" id="open-dialog">Open dialog</span>
    </h4>
    <div class="content-header-table__row">
        <div class="content-header-table__col content-header-table__col--small light-font-color">
            When
        </div>
        <div class="content-header-table__col content-header-table__col--large">
            29 July 2016
        </div>
        <div class="content-header-table__col content-header-table__col--large light-font-color">
            Tickets sold
        </div>
        <div class="content-header-table__col content-header-table__col--small text-right">
            12,642
        </div>	
    </div>
    <div class="content-header-table__row">
        <div class="content-header-table__col content-header-table__col--small light-font-color">
            Where
        </div>
        <div class="content-header-table__col content-header-table__col--large">
            Hype Expo Manchester
        </div>
        <div class="content-header-table__col content-header-table__col--large light-font-color">
            Subsribe to list
        </div>
        <div class="content-header-table__col content-header-table__col--small text-right">
            648
        </div>	
    </div>
</div>