<h2 class="grid-item__title">
    Facebook Guest List Registration
</h2>
<div class="facebook-wrapper">
    <div class="fb-logo"></div>
    <label class="rounded-checkbox-wrapper">Publish on Facebook
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
    </label>
    <p class="publish-on-facebook-description">You can post to one of your Facebook Pages allowing your customers to register for a guest list with one click.</br> There are no Facebook Guest lists for this event, to add a Facebook Guest list, <a href="">click here</a>.</p>
</div>