<div class="header-logo col-md-2">
    <a href="/"><img src="images/logo.png" alt="Logo" class="header-logo__picture"/></a>
</div>
<nav class="main-menu col-md-10">
    <ul class="main-menu__items">
        <li class="main-menu__item"><img src="images/dashboard.png" class="main-menu__item--icon-position"> Dashboard</li>
        <li class="main-menu__item"><img src="images/events.png" class="main-menu__item--icon-position"> Events</li>
        <li class="main-menu__item"><img src="images/sales.png" class="main-menu__item--icon-position"> Sales</li>
        <li class="main-menu__item"><img src="images/promotion.png" class="main-menu__item--icon-position"> Promotion</li>
        <li class="main-menu__item"><img src="images/shops.png" class="main-menu__item--icon-position"> Shops</li>
        <li class="main-menu__item"><img src="images/hr.png" class="main-menu__item--icon-position"> HR Managment</li>
        <li class="main-menu__item"><img src="images/finacials.png" class="main-menu__item--icon-position"> Finacials</li>
        <li class="main-menu__item"><img src="images/myaccount.png" class="main-menu__item--icon-position"> My Account</li>
    </ul>
</nav>