<h2 class="grid-item__title">
    Quick Settings
</h2>
<div class="qs-wrapper">
    <div class="qs-box">
        <label class="checkbox-container">Lorem ipsum dolor sit amet
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <p>Vestibulum quis nulla dui. Donec dapibus, neque ac pulvinar fringilla.</p>
    </div>
    <div class="qs-box">
        <label class="checkbox-container">Duis rhoncus leo diam
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
        </label>
        <p>Pellentesque a fringilla nisi. Aliquam bibendum nisi est</p>
    </div>
    <div class="qs-box">
        <label class="checkbox-container">Curabitur sed tincidunt lorem
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <p>Suspendisse auctor arcu ut leo venenatis, eget dignissim nunc luctus.</p>
    </div>
</div>
<div class="qs-table">
    <div class="qs-table__row">
        <div class="qs-table__col">Purchaser Data</div>
        <div class="qs-table__col qs-table__col--gray-font">Optional</div>
    </div>
    <div class="qs-table__row">
        <div class="qs-table__col">Shared Data</div>
        <div class="qs-table__col qs-table__col--gray-font">Optional</div>
    </div>
    <div class="qs-table__row">
        <div class="qs-table__col">Shared Optios</div>
        <div class="qs-table__col qs-table__col--gray-font">Sharing not required</div>
    </div>
    <div class="qs-table__row">
        <div class="qs-table__col">Purchase Limit</div>
        <div class="qs-table__col qs-table__col--gray-font">No limit (pre purchaser)</div>
    </div>
</table>