<h2 class="grid-item__title">
    Quick Settings
</h2>
<div class="qs-box">
    <label class="container">Lorem ipsum dolor sit amet
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
    </label>
    <p>Vestibulum quis nulla dui. Donec dapibus, neque ac pulvinar fringilla.</p>
</div>
<div class="qs-box">
    <label class="container">Duis rhoncus leo diam
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
    </label>
    <p>Pellentesque a fringilla nisi. Aliquam bibendum nisi est</p>
</div>
<div class="qs-box">
    <label class="container">Curabitur sed tincidunt lorem
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
    </label>
    <p>Suspendisse auctor arcu ut leo venenatis, eget dignissim nunc luctus.</p>
</div>
<table>
    <tr>
        <td>Purchaser Data</td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>Shared Data</td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>Shared Optios</td>
        <td>Sharing not required</td>
    </tr>
    <tr>
        <td>Purchase Limit</td>
        <td>No limit (pre purchaser)</td>
    </tr>
</table>