<nav class="side-bar-menu">
    <h3 class="side-bar-menu__title">
        Events
        <span class="side-bar-menu__title-logo"></span>
    </h3>
    <ul class="side-bar-menu__items">
        <li class="side-bar-menu__item">Add Events</li>
        <li class="side-bar-menu__item">Manage Events</li>
        <li class="side-bar-menu__item">Ticket Templates</li>
        <li class="side-bar-menu__item">Event Templates</li>
        <li class="side-bar-menu__item">Venues</li>
        <li class="side-bar-menu__item">Reports</li>
    </ul>
</nav>