<div class="stats-box">
    <ul class="stats-box__wrapper">
        <li class="stats-box__item">
            <h6 class="stats-box__main-stat">48 days</h6> 
            <p class="stats-box__sub-stat">till event's start</p>
        </li>
        <li class="stats-box__item">
            <h6 class="stats-box__main-stat">12,642</h6> 
            <p class="stats-box__sub-stat">tickets sold</p>
        </li>
        <li class="stats-box__item">
            <h6 class="stats-box__main-stat">648</h6> 
            <p class="stats-box__sub-stat">quests</p>
        </li>
    </ul>
</div>