.atten-box {
	position: relative;
	padding: 20px;
	border: 1px solid #fefefe;
	box-sizing: border-box;
  
	&:nth-child(odd) {
		background: $light-background-gray;
	}
	
	&__title {
		font-weight: bold;
		margin: 0 0 5px 0;
        font-size: 1.1rem;
		color: $font-gray;
	}

	&__view,
	&__order-details {
		border: 0;
		padding: 8px 20px;
	}

	&__applied,
	&__email {
        float: right;
        cursor: pointer;
	}

	&__applied {
		color: $font-gray;
	}

	&__email {
		font-weight: normal;
	}

    email {
        color: $base-blue;
		position: relative;
		margin-left: 20px;

        &::after {
            content: "\2023";
            display: block;
			top: -9px;
			right: -15px;
            position: absolute;
            font-size: 2rem;
            transform: rotate(90deg);
        }
    } 
}