
.bst-box {
	position: relative;
	padding: 15px 20px 15px 100px;
	border: 1px solid #fefefe;
	box-sizing: border-box;
  
	&:nth-child(odd) {
		background: $light-background-gray;
	}
	
	&__title {
		margin-top: 0;
		margin-bottom: 10px;
		color: $font-gray;
		position: relative;
	}

	&__view,
	&__edit {
		border: 0;
		padding: 8px 20px;
	}

	&__view {
		margin-left: 5px;
	}

	&__upcoming,
	&__desription,
	&__info-button {
		float: right;
	}

	&__desription {
		color: $font-gray;
		font-weight: 500;
	}

	&__upcoming {
		font-size: 1.1rem;
		margin-top: 18px;

		&--aqua-font {
			color: $base-blue;
		}

		&--orange-font {
			color: $info-orange;
		}
	}

	&__info-button {
		width: 40px;
		height: 40px;
		margin-top: 19px;
		margin-left: 5px;
		background: url(../images/infobutton.png);
		background-repeat: no-repeat;
		background-size: 30px 30px;
		background-position: 50% 50%;
		position: relative;
		cursor: pointer;
	}
}

.promo-popup {
	display: none;
	position: absolute;
    background: $info-orange;
    border: 2px solid $base-white;
    z-index: 2;
    width: 300px;
    padding: 20px;
	top: 75px;
    left: 330px;
	border: 1px solid $base-white;
	color: $base-white;
	text-shadow: 1px 1px rgba(0,0,0, 0.5);
	box-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.3);

	&::after,
	&::before {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&::after {
		border-color: rgba(242,147,35,0);
		border-bottom-color: $info-orange;
		border-width: 10px;
		margin-left: 95px;
	}

	&__close {
		position: absolute;
		width: 26px; 
		height: 15.01px;
		background-color: $base-white;
		margin: 7.51px 0;
		border-left: solid 3px $info-orange;
		border-right: solid 3px $info-orange;
		top: -14px;
		right: -9px;
		color: $info-orange;
		cursor: pointer;
		box-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.3);

		&::before,
		&::after {
			content: "";
			position: absolute;
			z-index: 1;
			width: 18.38px;
			height: 18.38px;
			-webkit-transform: scaleY(0.5774) rotate(-45deg);
			-ms-transform: scaleY(0.5774) rotate(-45deg);
			transform: scaleY(0.5774) rotate(-45deg);
			background-color: inherit;
			left: 0.8076px;
		}

		&::before {
			top: -9.1924px;
			border-top: solid 4.2426px $info-orange;
			border-right: solid 4.2426px $info-orange;
		}

		&::after {
			bottom: -9.1924px;
			border-bottom: solid 4.2426px $info-orange;
			border-left: solid 4.2426px $info-orange;
		}

		&--x-top {
			position: absolute;
			top: -7px;
			left: 5px;
			z-index: 2;
			font-size: 1.3rem;
		}
	}

	&__add {
		float: right;
		background: $base-white;
		border-radius: 5px;
		padding: 5px 10px;
		margin-top: 20px;
		border: 0;
		color: $info-orange;
		font-size: 1.3rem;
	}
}

bst-box-icons {
	background-size: 100%;
	width: 75px;
	height: 75px;
	display: block;
	position: absolute;
	left: 10px;
	top: 15px;
}

.adult-general {
	background-image: url(../images/plusup.png);
}
.child-tickets {
	background-image: url(../images/minusdown.png);
}
.child-tickets-hidden {
	background-image: url(../images/eyeicon.png);
}
.not-on-sale {
	background-image: url(../images/xbutton.png);
}
.upcoming-sale {
	background-image: url(../images/calendar.png);
}