.grid {
	width: 100%;
	padding: 30px;
}

.grid-item {
	border: 1px solid $base-border-color;
	margin-right: 25px;
	margin-bottom: 25px;
	width: 45%;
	box-sizing: border-box;
	@include base-box-shadow();

	&__content {
		padding: 0;
		margin: 0;
	}

	&__title {
		padding: 25px;
		border-bottom: 1px solid $base-border-color;
		background-color: $button-background;
		background-image: url(../images/header-shadow.png);
		background-position: 100% 0px;
    	background-repeat: no-repeat;
		background-size: 300px 100%;
		color: $base-blue;
		margin: 0;
	}

	&--wrapper {
		border: 1px solid #777;
		box-shadow: #777 5px 5px;
	}

	&--half {
		max-width: 45%;

		&:last-child {
			margin-right: 0;
		}
	}

	&--full {
		width: 92%;
	}
}
