.header {
	display: flex;
	background: green;
}
.header-logo {
	&__picture {
		display: inline-block;
		width: 100px;
		height: 40px;
		background: #432;
	}

	&__name {
		display: inline-block;
		color: white;
	}
}

.main-menu {
	width: 100%;
	padding: 0;

	&__title {

	}

	&__items {
		display: flex;
		margin: 0;
		padding: 0;
	}

	&__item {
		list-style-type: none;
		flex-grow: 1;
		background: #987;
    	text-align: center;
		padding: 30px 0;
		
		&:hover {
			background: #432
		}
	}
}

.wrapper {
	min-height: 100%;
}

.side-bar {
	padding: 0;
	margin: 0;
	background: rgb(203, 233, 233);
	min-height: 100%;
}

.side-bar-menu {
	&__title {
		padding: 20px;
		color: rgb(20, 88, 88);
	}

	&__items {
		padding: 0;
	}

	&__item {
		list-style-type: none;
		padding: 10px 0 10px 20px;

		&:hover {
			border-left: 3px solid rgb(20, 88, 88);
		}
	}
}


.content {
	padding: 0;
}

.sub-menu {
	display: flex;

	&__title {
		background: orange;
		color: white;
		display: inline-block;
		padding: 15px;
		border: 1px solid gray;
	}

	&__items {
		display: flex;
		padding: 0;
		margin-bottom: 8px;
	}

	&__item {
		display: inline-block;
		list-style-type: none;
		padding: 20px;
		margin: 0;
		border: 1px solid gray;
	}
}

.content-header {
	display: flex;
	width: 100%;
}

.content-header-image {
	width: 100px;
	height: 100px;
	display: inline-block;
	background: #453;
}

.content-header-table {
	display: inline-block;
	padding: .8rem;

	&__title {
		display: inline-block;
		color: aqua;
	}

	&__dialog {
		background: #453;
		color: aliceblue;
		font-size: .8rem;
		padding: 3px 5px 3px 20px;
		border-radius: 5px;
	}

	&__row {
		display: flex;
		width: 550px;
	}

	&__col {
		display: inline-block;

		&--small {
			width: 12.5%;
		}

		&--large {
			width: 37.5%;
		}
	}
}

.components {
	display: flex;  
  	flex-flow: row wrap;
	padding: 30px;
}

.components > * {
	padding: 10px;
	flex: 1 100%;
}

.box {
	background: #543;
	border: 1px solid #999;

	&__content {
		padding: 0;
		margin: 0;
	}

	&__title {

	}

	&--wrapper {
		border: 1px solid #777;
		box-shadow: #777 5px 5px;
	}

	&--half {
		max-width: 50%;
		flex: 1 auto;
	}

	&--full {
		
	}
}
.ticket {
	list-style-type: none;

	&__image {
		width: 70px;
		height: 70px;
		background: red;
		display: inline-block;
	}

	&__title {
		display: inline-block;
		margin: 0;
	}

	&__edit {
		
	}

	&__view-sales {

	}

	&__info {
		float: right;
		background: #aaa;
		border: 0;
		border-radius: 50%;
		width: 40px;
		height: 40px;
	}
}

footer {

}