.stats-box {
	background: $base-blue;
	color: $base-white;

	&__wrapper {
		padding: 20px;
		display: flex;
		margin: 0;
	}

	&__item {
		flex-grow: 1;
		list-style-type: none;
		padding: 10px;
		text-align: center;
		box-sizing: border-box;
		border-right: 2px solid;
		
		&:last-child {
			border-right: 0;
		}
	}

	&__main-stat{
		margin: 5px;
		font-size: 2.5rem;
		text-shadow: 1px 1px rgba(0,0,0,0.5);
	}

	&__sub-stat {
		font-size: 2rem;
		color: $light-blue;
	}
}
