$base-white:            #ffffff;
$base-border-color:     #e0e0e0;
$base-blue:             #14b2cc;
$light-blue:            #bae2eb;
$main-green:            #0e798b;
$main-menu-hover:       #0b5c6a;

$side-bar-background:   #f1f8f9;
$side-bar-hover-color:  #08939f;

$info-orange:           #f29323;

$button-background:     #f6f6f6;

$base-gray:             #848484;
$light-gray:            #b3b3b3;
$font-gray:             #7c7c7c;
$light-background-gray: #f8f8f8;
